# Virtual environment
venv/
env/

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Git
.git/
.gitignore

# OS files
.DS_Store

# Environment variables / secrets
.env

# Editor folders
.vscode/
.idea/